// ------------------
// --- ANIMATIONS ---
// ------------------

@keyframes toggle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2.3rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-12deg) scale(1.05);
    }
    100% {
        transform: rotate(0deg);
    }
}

// ------------ TITLE ANIMATION ------------

@keyframes hi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes vit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dev {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}